spring.datasource.driver-class-name=${datasource.driverName}
spring.datasource.username=${datasource.username}
spring.datasource.password=${datasource.password}
spring.datasource.url=${datasource.url}