package ${package.Parent};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.boot.builder.SpringApplicationBuilder;
import org.springframework.boot.web.servlet.support.SpringBootServletInitializer;

/**
 * @author ${author}
 * @since ${date}
 */
@SpringBootApplication
public class Bootstrap extends SpringBootServletInitializer {
    public static void main(String[] args) {
        SpringApplication.run(Bootstrap.class,args);
    }

    @Override
    protected SpringApplicationBuilder configure(SpringApplicationBuilder builder) {
        return builder.sources(Bootstrap.class);
    }
}
