package ${package.Utils};

import org.hibernate.HibernateException;
import org.hibernate.engine.spi.SharedSessionContractImplementor;
import org.hibernate.id.IdentifierGenerator;

import java.io.Serializable;

/**
 * @author ${author}
 * @Date ${date}
 * @Description 唯一主键生成
 */
public class DefaultIDGenerator implements IdentifierGenerator {

    @Override
    public Serializable generate(SharedSessionContractImplementor session, Object object) throws HibernateException {
        Object id = new SnowFlake().getId();
        return (Serializable) id;
    }
}
