package ${package.Entity};

import java.io.Serializable;
#if(${table.hasDate})
import java.util.Date;
#end
import lombok.Data;
import org.springframework.data.annotation.Id;
import org.springframework.data.mongodb.core.mapping.Document;

/**
 * <p>
 * ${table.comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Document("${table.name}")
@Data
public class ${entity} implements Serializable {

	private static final long serialVersionUID = 1L;

#foreach($field in ${table.fields})
	/**
	 * ${field.comment}
	 */
#if(${field.keyFlag} && ${idGenType}!="ID_WORKER")
    @Id
#end
	private ${field.propertyType} ${field.propertyName};
#end

	@Override
	public String toString() {
		final StringBuilder sb = new StringBuilder("${entity}{").append(super.toString());

#foreach($field in ${table.fields})
	#if(${field.propertyType.equals("String")})
sb.append(",${field.propertyName}='").append(${field.propertyName}).append('\'');
	#else
sb.append(",${field.propertyName}=").append(${field.propertyName});
	#end
#end

		sb.append('}');
		return sb.toString();
	}
}
