package ${package.EntityVO};

#if(${table.hasDate})
import java.util.Date;
#end
import lombok.Data;
import io.swagger.annotations.ApiModelProperty;
import ${package.Entity}.${entity};
import ${package.EntityConverter}.${entity}Converter;

/**
 * <p>
 * ${table.name}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
public class ${entity}VO  {

#foreach($field in ${table.fields})
	/**
	 * ${field.comment}
	 */
	@ApiModelProperty(value = "${field.comment}")
	private ${field.propertyType} ${field.propertyName};
#end

	public ${entity}VO(${entity} ${table.strConvertLowerCamel(${entity})}) {
		${entity}Converter.INSTANCE.mapEntityToVO(${table.strConvertLowerCamel(${entity})}, this);
	}
}
