package ${package.Service};

import ${package.Entity}.${entity};
import java.util.List;

/**
 * <p>
 * ${table.comment}服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName} {
}
