package ${package.EntityVO};

#if(${table.hasDate})
import java.util.Date;
import org.springframework.format.annotation.DateTimeFormat;
#end
import lombok.Data;
import io.swagger.annotations.ApiModelProperty;
import ${package.Entity}.${entity};
import ${package.EntityConverter}.${entity}Converter;
import javax.validation.constraints.NotNull;

/**
 * <p>
 * 修改${table.name}对象
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
public class Update${entity}VO  {
	#foreach($field in ${table.fields})
	/**
	 * ${field.comment}
	 */
	@ApiModelProperty(value = "${field.comment}")
	@NotNull(message = "${field.comment}不能为空")
	private ${field.propertyType} ${field.propertyName};
	#end

	public ${entity} to${entity}() {
		return ${entity}Converter.INSTANCE.mapUpdateVOToEntity(this);
	}
}
