package ${package.EntityVO};

#if(${table.hasDate})
import java.util.Date;
import org.springframework.format.annotation.DateTimeFormat;
#end
import lombok.Data;
import io.swagger.annotations.ApiModelProperty;
import org.springframework.beans.BeanUtils;
import ${package.Entity}.${entity};

/**
 * <p>
 * 修改${table.name}对象
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
public class Update${entity}VO  {
	#foreach($field in ${table.fields})
	/**
	 * ${field.comment}
	 */
	@ApiModelProperty(value = "${field.comment}")
	#if(${field.propertyType}=="Date")
	@DateTimeFormat(pattern = "yyyy-MM-dd", iso = DateTimeFormat.ISO.DATE)
	#end
	private ${field.propertyType} ${field.propertyName};
	#end

	public ${entity} to${entity}() {
		${entity} ${table.strConvertLowerCamel(${entity})} = new ${entity}();
		BeanUtils.copyProperties(this,${table.strConvertLowerCamel(${entity})});
		return ${table.strConvertLowerCamel(${entity})};
	}
}
